<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <h1>WebSocket Chat</h1>
        <form action="" onsubmit="sendMessage(event)">
            <label>Item ID: <input type="text" id="itemId" autocomplete="off" value="foo"/></label>
            <label>Token: <input type="text" id="token" autocomplete="off" value="some-key-token"/></label>
            <button onclick="connect(event)">Connect</button>
            <hr>
            <label>Message: <input type="text" id="messageText" autocomplete="off"/></label>
            <button>Send</button>
        </form>
        <button id="disconnect">disconnect</button>
        <button id="record">record</button>
        <button id="stop">stop</button>
        <audio id="audio" controls></audio>

        <ul id='messages'>
        </ul>
        <script async src="{{ url_for('static', path='js/main.js') }}"></script>
        <script async src="{{ url_for('static', path='js/Resampler.js') }}"></script>
        <script async src="{{ url_for('static', path='js/utils.js') }}"></script>
    </body>
</html>
